In [1]:

    
     `

enter your salary 5500000

1387500.0

In [19]:
import pandas as pd 
df=pd.read_excel("sample3.xlsx")
df

    salary  age    hra
0   250000   60  25000
1   500000   50  50000
2   750000   30  80000
3  1000000   55   4000
4  1250000   77  15000
5  1500000   25  40000

In [6]:
x=df.loc[3, "salary"]
if x <= 250000:
    tax=0
if (x <= 500000) and (x>250000):
    tax=(x-250000)*5/100
if (x <= 750000) and (x>500000):
    tax=(x-500000)*10/100+12500
if (x <= 1000000) and (x>750000):
    tax=(x-750000)*15/100+37500
if (x<=1250000) and (x>1000000):
    tax=(x-1000000)*20/100+75000
if (x<=1500000) and (x>1250000):
    tax=(x-1250000)*25/100+125000
if (x>1500000):
    tax=(x-1500000)*30/100+187500
print(tax)

75000.0

In [26]:
x=df.loc[1, "salary"]
y=df.loc[1, "age"]
z=df.loc[1, "hra"]
if x <= 250000 and y <=60:
    tax=0
if (x <= 500000) and (x>250000) and y<=60:
    tax=x*10/100
if (x>500000) and (x<=1000000) and y<=60:
    tax=x*20/100
if (x>1000000) and y<=60:
    tax=x*30/100
if (x<=300000) and y>60 and y<=80:
    tax=0
if y>60 and y<=80 and (x>300000) and x<=500000:
    tax=x*10/100
if y>60 and y<=80 and x>500000 and x<=1000000:
    tax=x*20/100
if y>60 and y<=80 and x>1000000:
    tax=x*30/100
if y>80 and x<=500000:
    tax=0
if y>80 and x>500000 and x<=1000000:
    tax=x*20/100
if y>80 and y<=100 and x>1000000:
    tax=x*30/100
    
    



if z<(10/100)*x:
    tax2=0
if z>=(10/100)*x:
    tax2=(50/100)*(z-x)
total=tax+tax2
print(total)

-175000.0