In [6]:
x=int(input("enter your salary"))
if x <= 250000:
    tax=0
if (x <= 500000) and (x>250000):
    tax=(x-250000)*5/100
if (x <= 750000) and (x>500000):
    tax=(x-500000)*10/100+12500
if (x <= 1000000) and (x>750000):
    tax=(x-750000)*15/100+37500
if (x<=1250000) and (x>1000000):
    tax=(x-1000000)*20/100+75000
if (x<=1500000) and (x>1250000):
    tax=(x-1250000)*25/100+125000
if (x>1500000):
    tax=(x-1500000)*30/100+187500
print(tax)

enter your salary 1600000

217500.0

In [3]:
x=int(input("enter your salary"))

def shihas(a,b,c,d):
    tax=(a-b)*c/100+d
    return tax
if x <= 250000:
    tax=shihas(0,0,0,0)
if (x <= 500000) and (x>250000):
    tax=shihas(x,250000,5,0)
if (x <= 750000) and (x>500000):
    tax=shihas(x,500000,10,12500)
if (x <= 1000000) and (x>750000):
    tax=shihas(x, 750000,15,37500)
if (x<=1250000) and (x>1000000):
    tax=shihas(x,1000000,20,75000)
if (x<=1500000) and (x>1250000):
    tax=shihas(x,1250000,25,125000)
if (x>1500000):
    tax=shihas(x,1500000,30,187500)
print(tax)

enter your salary 5445444

1371133.2